:root {    
    --heading-font: 'Open Sans', sans-serif;    
    --paragraph-font: 'Work Sans', sans-serif;
}
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- HEADER --------------*/
header, main, footer {margin: 0 auto;} 
header {/*padding: 1rem 2%; */text-align: center;}
header h1 {margin: 0.5rem 0; font-size: 1.5rem; font-family: var(--heading-font); color: white; margin-top: 2rem;}
header h2 {margin: 0.5rem 0; font-size: 1.3rem; font-family: var(--heading-font); color: #64A494;}
header h3 {margin: 0.5rem 0; font-size: 1rem;   font-family: var(--heading-font); color: white;}

/*----------- BODY --------------*/
body {font-size: 1rem; font-family: var(--paragraph-font); margin: 0 auto; background-color: #101727;}

main {background-color: white; margin: 0.5rem; padding: .0.5rem 2%; background-color: #101727; min-height: 35rem;}
main h1 {font-size: 1.1rem; color: #64A494;}
main h2 {font-size: 1rem; color: white;}
main h3 {font-size: 1rem; color: white;}


/*-------------- NAV ----------------------*/
#nav {text-align: center;}
#nav ul {padding: 0;}
#nav li {display: inline;}
#nav a {font-size: 2rem;}

#previous {float: left;}
#nav #index {float: center; color: #64A494; font-size: 2rem;}
#next {float: right;}

#previous:hover {color: white;}
#nav #index:hover {color: white;}
#next:hover {color: white;}

main {color: white;}

ul {margin-top: 3rem;}
ul li {color: white; list-style-type: none; margin-bottom: 1rem; padding: 0; margin-top: 1rem;}
ul li a {font-size: 1rem; color:#64A494; text-decoration: none; font-family: var(--heading-font); font-weight: bold;}
ul li a:hover{color: #64A494;}

footer {font-family: var(--paragraph-font); text-align: center; color: white; margin: 0 0.5rem;}
#byu-link {color: white; list-style: none; text-decoration: none;}
#byu-link:hover {color: #64A494;}

p {color: white;}
section {color: white;}

ol li {color: white;}

a {color: white;}

main section {color: white; margin-top: 1rem;}

main .highlight {color: #64A494;}



textarea {margin-top: 1rem; display: block; width: 100%; height: 10rem; background-color: #64A494; color: white;}

fieldset {margin-bottom: 2rem;}

legend {padding: 0.5rem; color: #64A494; font-size: 1.1rem;}

#rainbow {height: 10rem; border: solid 1px white;}

#button{ margin-bottom: 1rem;}





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {content: ""; display: table; clear: both;}


















